<!DOCTYPE html>
<html lang="en">

<head>
	<title>Mohsin Mumtaz</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/mohsin.jpg' %}" class="responsive-img img-rounded" style='max-height:150px' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>Programming, Learning, Entrepreneurship</h3>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li><br>
				<li><a href='/blog/ '>Blog</a></li><br>
				<li><a href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="https://www.facebook.com/mohsin.mumtaz.338" target="blank"><i class="fa fa-facebook-official" style="font-size:36px"></i></a> <a href="https://www.linkedin.com/in/mohsin-mumtaz-680915ab" target="blank"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>  <a href="https://twitter.com/Mohmum21" target="blank"><i class="fa fa-twitter" style="font-size:36px"></i></a><a href="https://github.com/mohmum/" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a></p>
		</div>
	</footer>

</body>

</html>
